src/main/resources/SharedResources/SchemaDefinitions/MTB/1_2/Account.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:ifx="IFX2_3"
	 xmlns:act="http://www.mtb.com/canonical/schema/MTB/1_2/Account"
	 xmlns:esb1="http://www.mtb.com/webservices/wsdl/ESBService_v1"
	 xmlns:pty="http://www.mtb.com/canonical/schema/MTB/1_6/Party"
	 xmlns:cmn="http://www.mtb.com/canonical/schema/MTB/1_1/Common"
	 targetNamespace="http://www.mtb.com/canonical/schema/MTB/1_2/Account"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="IFX2_3" schemaLocation="../../IFX/2_3/IFX.xsd"/>
	<xsd:import namespace="http://www.mtb.com/canonical/schema/MTB/1_1/Common" schemaLocation="../1_1/Common.xsd"/>
	<xsd:import namespace="http://www.mtb.com/webservices/wsdl/ESBService_v1" schemaLocation="../../../WSDL/ESBService_v1.xsd"/>
	<xsd:import namespace="http://www.mtb.com/canonical/schema/MTB/1_6/Party" schemaLocation="../1_6/Party.xsd"/>
	<xsd:complexType name="CreditAcctData_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:OriginationDt" minOccurs="0"/>
			<xsd:element ref="ifx:Freq" minOccurs="0"/>
			<xsd:element ref="ifx:TotalPmtCount" minOccurs="0"/>
			<xsd:element ref="ifx:PurposeDesc" minOccurs="0"/>
			<xsd:element ref="ifx:CollateralDesc" minOccurs="0"/>
			<xsd:element ref="ifx:RegPmt" minOccurs="0"/>
			<xsd:element ref="ifx:DueDt" minOccurs="0"/>
			<xsd:element ref="ifx:NextPmt" minOccurs="0"/>
			<xsd:element ref="ifx:PrepayPenalty" minOccurs="0"/>
			<xsd:element ref="ifx:LOCLoanData" minOccurs="0"/>
			<xsd:element ref="ifx:WriteOffReason" minOccurs="0"/>
			<xsd:element ref="ifx:WriteOffRespParty" minOccurs="0"/>
			<xsd:element ref="act:CreditAcctType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AcctRef_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:AcctKeys" minOccurs="0"/>
			<xsd:element ref="act:AcctRec" minOccurs="0"/>
			<xsd:element ref="ifx:AcctInfo" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AcctType_Type">
		<xsd:sequence>
			<xsd:element ref="act:AcctTypeValue" minOccurs="0"/>
			<xsd:element ref="ifx:AcctTypeSource" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AcctInfo_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:CurCode" minOccurs="0"/>
			<xsd:element ref="ifx:Desc" minOccurs="0"/>
			<xsd:element ref="ifx:AcctIdent" minOccurs="0"/>
			<xsd:element ref="ifx:BBAN" minOccurs="0"/>
			<xsd:element ref="ifx:IBAN" minOccurs="0"/>
			<xsd:element ref="ifx:UPIC" minOccurs="0"/>
			<xsd:element ref="ifx:CLABE" minOccurs="0"/>
			<xsd:element ref="ifx:FIData" minOccurs="0"/>
			<xsd:element ref="ifx:AcctUse" minOccurs="0"/>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="ifx:Term" minOccurs="0"/>
				<xsd:element ref="ifx:MaturityDt" minOccurs="0"/>
			</xsd:sequence>
			<xsd:element ref="ifx:IntRateData" minOccurs="0"/>
			<xsd:element ref="ifx:TaxWithholding" minOccurs="0"/>
			<xsd:element ref="ifx:TaxCountry" minOccurs="0"/>
			<xsd:element ref="ifx:TaxProvince" minOccurs="0"/>
			<xsd:element ref="ifx:ProductIdent" minOccurs="0"/>
			<xsd:element ref="ifx:DaysCall" minOccurs="0"/>
			<xsd:element ref="ifx:InitialAmount" minOccurs="0"/>
			<xsd:element ref="act:AcctType" minOccurs="0"/>
			<xsd:element ref="ifx:AcctTaxType" minOccurs="0"/>
			<xsd:element ref="ifx:AcctTitle" minOccurs="0"/>
			<xsd:element ref="ifx:Memo" minOccurs="0"/>
			<xsd:element ref="ifx:OpenDt" minOccurs="0"/>
			<xsd:element ref="ifx:ClosedDt" minOccurs="0"/>
			<xsd:element ref="ifx:RelationshipMgr" minOccurs="0"/>
			<xsd:element ref="ifx:PostAddr" minOccurs="0"/>
			<xsd:element ref="ifx:MktgMaterial" minOccurs="0"/>
			<xsd:element ref="act:AcctBal" minOccurs="0" maxOccurs="unbounded"/> 
			<xsd:element ref="ifx:AcctPeriodData" minOccurs="0"/>
			<xsd:element ref="ifx:GraceEndDt" minOccurs="0"/>
			<xsd:element ref="ifx:RemainingPmtCount" minOccurs="0"/>
			<xsd:element ref="ifx:AcctTrnLimit" minOccurs="0"/>
			<xsd:element ref="ifx:TaxWithheldData" minOccurs="0"/>
			<xsd:element ref="ifx:DepAcctData" minOccurs="0"/>
			<xsd:element ref="act:CreditAcctData" minOccurs="0"/>
			<xsd:element ref="ifx:AcctPricing" minOccurs="0"/>
			<xsd:element ref="ifx:CorporateAcctData" minOccurs="0"/>
			<xsd:element ref="ifx:CorrespondDelivery" minOccurs="0"/>
			<xsd:element ref="ifx:Segmentation" minOccurs="0"/>
			<xsd:element ref="ifx:AcctApplIdent" minOccurs="0"/>
			<xsd:element ref="ifx:CampaignIdent" minOccurs="0"/>
			<xsd:element ref="ifx:Ownership" minOccurs="0"/>
			<xsd:element ref="ifx:StmtTimeFrame" minOccurs="0"/>
			<xsd:element ref="ifx:NextStmtData" minOccurs="0"/>
			<xsd:element ref="ifx:AcctStatus" minOccurs="0"/>
			<xsd:element ref="act:AcctName1" minOccurs="0"/>
			<xsd:element ref="act:AcctName2" minOccurs="0"/>
			<xsd:element ref="act:AcctName3" minOccurs="0"/>
			<xsd:element ref="act:AcctName4" minOccurs="0"/>
			<xsd:element ref="act:ProdType" minOccurs="0"/>
			<xsd:element ref="act:ProdSubType" minOccurs="0"/>
			<xsd:element ref="act:FRBCode" minOccurs="0"/>
			<xsd:element ref="act:BankAcquiredFrom" minOccurs="0"/>
			<xsd:element ref="act:BankAcquisitionDt" minOccurs="0"/>
			<xsd:element ref="act:CompanyCode" minOccurs="0"/>
			<xsd:element ref="act:CostCenter" minOccurs="0"/>
			<xsd:element ref="act:SourceAcctLOB" minOccurs="0"/>
			<xsd:element ref="act:SubOwnerCode" minOccurs="0"/>
			<xsd:element ref="act:InvtrCode" minOccurs="0"/>
			<xsd:element ref="act:AcctSourceIdent" minOccurs="0"/>
			<xsd:element ref="act:AcctClosedReason" minOccurs="0"/>
			<xsd:element ref="act:OrigSrcSystem" minOccurs="0"/>
			<xsd:element ref="pty:SrcKeys" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="act:IsDeleted" minOccurs="0"/>
			<xsd:element ref="act:UltimateParent" minOccurs="0"/>
			<xsd:element ref="act:IsPrimary" minOccurs="0"/>
			<xsd:element ref="act:AvailableStatusId" minOccurs="0"/>
			<xsd:element ref="act:CustomerCollateralInfoId" minOccurs="0"/>
			<xsd:element ref="act:AccountsReceivable" minOccurs="0"/>
			<xsd:element ref="act:NeteligibleAccountReceivable" minOccurs="0"/>
			<xsd:element ref="act:Inventory" minOccurs="0"/>
			<xsd:element ref="act:NeteligibleInventory" minOccurs="0"/>
			<xsd:element ref="act:SecuredCash" minOccurs="0"/>
			<xsd:element ref="act:CVLI" minOccurs="0"/>
			<xsd:element ref="act:UnrelatedSecurities" minOccurs="0"/>
			<xsd:element ref="act:ABLFBLManaged" minOccurs="0"/>
			<xsd:element ref="act:AccountsReceivableDate" minOccurs="0"/>
			<xsd:element ref="act:NeteligibleAccountReceivableDate" minOccurs="0"/>
			<xsd:element ref="act:InventoryDate" minOccurs="0"/>
			<xsd:element ref="act:NeteligibleInventoryDate" minOccurs="0"/>
			<xsd:element ref="act:SecuredCashDate" minOccurs="0"/>
			<xsd:element ref="act:CVLIDate" minOccurs="0"/>
			<xsd:element ref="act:UnrelatedSecuritiesDate" minOccurs="0"/>
			<xsd:element ref="act:CollateralSource" minOccurs="0"/>
			<xsd:element ref="act:EquipCollateralInfoId" minOccurs="0"/>
			<xsd:element ref="act:GeneralSpecificEquip" minOccurs="0"/>
			<xsd:element ref="act:SpecificEquipTypeId" minOccurs="0"/>
			<xsd:element ref="act:EquipOriCost" minOccurs="0"/>
			<xsd:element ref="act:EquipAge" minOccurs="0"/>
			<xsd:element ref="act:GrossValue" minOccurs="0"/>
			<xsd:element ref="act:FromEquipCollateralInfoId" minOccurs="0"/>
			<xsd:element ref="act:LGDSpecificEquipTypeTitle" minOccurs="0"/>
			<xsd:element ref="act:LGDSpecificEquipTypeVersion" minOccurs="0"/>
			<xsd:element ref="act:EquipDate" minOccurs="0"/>
			<xsd:element ref="act:PropertyCollateralInfoId" minOccurs="0"/>
			<xsd:element ref="act:LGDPropertyTypeId" minOccurs="0"/>
			<xsd:element ref="act:PropertyTypeTitle" minOccurs="0"/>
			<xsd:element ref="act:PropertyAddress" minOccurs="0"/>
			<xsd:element ref="act:PropertyValue" minOccurs="0"/>
			<xsd:element ref="act:FirstPosition" minOccurs="0"/>
			<xsd:element ref="act:FirstMortgageholderId" minOccurs="0"/>
			<xsd:element ref="act:FirstMortgageholderTitle" minOccurs="0"/>
			<xsd:element ref="act:FirstMortgageBalance" minOccurs="0"/>
			<xsd:element ref="act:SecondPosition" minOccurs="0"/>
			<xsd:element ref="act:SecondMortgageholderId" minOccurs="0"/>
			<xsd:element ref="act:SecondMortgageholderTitle" minOccurs="0"/>
			<xsd:element ref="act:SecondMortgageBalance" minOccurs="0"/>
			<xsd:element ref="act:ThirdPosition" minOccurs="0"/>
			<xsd:element ref="act:ThirdMortgageholderId" minOccurs="0"/>
			<xsd:element ref="act:ThirdMortgageholderTitle" minOccurs="0"/>
			<xsd:element ref="act:ThirdMortgageBalance" minOccurs="0"/>
			<xsd:element ref="act:AppraisalDate" minOccurs="0"/>
			<xsd:element ref="act:OtherCollateralInfoId" minOccurs="0"/>
			<xsd:element ref="act:OtherCollateralDesc" minOccurs="0"/>
			<xsd:element ref="act:RecoveryRate" minOccurs="0"/>
			<xsd:element ref="act:DiscountCollateralValue" minOccurs="0"/>
			<xsd:element ref="act:OtherDescription" minOccurs="0"/>
			<xsd:element ref="act:OtherCollateralDate" minOccurs="0"/>
			<xsd:element ref="act:Collaterals" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="act:FacilityInfoId" minOccurs="0"/>
			<xsd:element ref="act:FacilityType" minOccurs="0" maxOccurs="2"/>
			<xsd:element ref="act:AccountNumber" minOccurs="0"/>
			<xsd:element ref="act:ModifiedOutstdAmt" minOccurs="0"/>
			<xsd:element ref="act:ModifiedCommitmentAmt" minOccurs="0"/>
			<xsd:element ref="act:OutstdAmt" minOccurs="0"/>
			<xsd:element ref="act:CmtAmt" minOccurs="0"/>
			<xsd:element ref="act:FacilityTypeId" minOccurs="0"/>
			<xsd:element ref="act:FacilityGrade" minOccurs="0"/>
			<xsd:element ref="act:AvailabilityStatusId" minOccurs="0"/>
			<xsd:element ref="act:AvailabilityStatus" minOccurs="0"/>
			<xsd:element ref="act:AccountNumberMask" minOccurs="0"/>
			<xsd:element ref="act:LoanSystem" minOccurs="0"/>
			<xsd:element ref="act:Mortgageholder" minOccurs="0"/>
			<xsd:element ref="act:MortgageBal" minOccurs="0"/>
			<xsd:element ref="act:FromFacilityInfoId" minOccurs="0"/>
			<xsd:element ref="act:BankId" minOccurs="0"/>
			<xsd:element ref="act:IsInterimTypeSelected" minOccurs="0"/>
			<xsd:element ref="act:CollateralType" minOccurs="0"/>
			<xsd:element ref="act:LGDLEQId" minOccurs="0"/>
			<xsd:element ref="act:LGDLEQTitle" minOccurs="0"/>
			<xsd:element ref="act:LEQPercent" minOccurs="0"/>
			<xsd:element ref="act:LEQVersionId" minOccurs="0"/>
			<xsd:element ref="act:GroupName" minOccurs="0"/>
			<xsd:element ref="act:GrntyId" minOccurs="0"/>
			<xsd:element ref="act:GovGrntyTypeId" minOccurs="0"/>
			<xsd:element ref="act:GovGrntyPerct" minOccurs="0"/>
			<xsd:element ref="act:NonGovGrntyAmt" minOccurs="0"/>
			<xsd:element ref="act:NonGovGrntyPerct" minOccurs="0"/>
			<xsd:element ref="act:NonGovLimited" minOccurs="0"/>
			<xsd:element ref="act:NonGovGrntyTypeId" minOccurs="0"/>
			<xsd:element ref="act:UnsecuredLargeCorporateId" minOccurs="0"/>
			<xsd:element ref="act:CompanyIndustryId" minOccurs="0"/>
			<xsd:element ref="act:IndustryGroup" minOccurs="0"/>
			<xsd:element ref="act:Multiple" minOccurs="0"/>
			<xsd:element ref="act:EntityToUse" minOccurs="0"/>
			<xsd:element ref="act:VersionId" minOccurs="0"/>
			<xsd:element ref="act:PubliclyTraded" minOccurs="0"/>
			<xsd:element ref="act:TotalMarketCapitalization" minOccurs="0"/>
			<xsd:element ref="act:TotalLiabilities" minOccurs="0"/>
			<xsd:element ref="act:LookupTableToUse" minOccurs="0"/>
			<xsd:element ref="act:FinalFacilityGrade" minOccurs="0"/>
			<xsd:element ref="act:RecognisedValue" minOccurs="0"/>
			<xsd:element ref="act:EnterpriseValue" minOccurs="0"/>
			<xsd:element ref="act:EBITDA" minOccurs="0"/>
			<xsd:element ref="act:AverageLGDGrade" minOccurs="0"/>
			<xsd:element ref="act:JustificationInfoEnterpriseValue" minOccurs="0"/>
			<xsd:element ref="act:SelectedDate" minOccurs="0"/>
			<xsd:element ref="act:LGDNotForProfitTypeId" minOccurs="0"/>
			<xsd:element ref="act:LGDNFPTypeTitle" minOccurs="0"/>
			<xsd:element ref="act:ViabilityRatio" minOccurs="0"/>
			<xsd:element ref="act:LiquidityRatio" minOccurs="0"/>
			<xsd:element ref="act:IsThereGuarantor" minOccurs="0"/>
			<xsd:element ref="act:GuarantorTypeId" minOccurs="0"/>
			<xsd:element ref="act:LGDNFPGrntyTypeTitle" minOccurs="0"/>
			<xsd:element ref="act:FacilitySituation" minOccurs="0" maxOccurs="2"/>
			<xsd:element ref="act:IsHighNetBorrower" minOccurs="0"/>
			<xsd:element ref="act:GradeBasedOnViabilityRatio" minOccurs="0"/>
			<xsd:element ref="act:GradeBasedOnLiquidityRatio" minOccurs="0"/>
			<xsd:element ref="act:LGDBasedOnLiquidityGrade" minOccurs="0"/>
			<xsd:element ref="act:LGDBasedOnViabilityGrade" minOccurs="0"/>
			<xsd:element ref="act:AverageLGD" minOccurs="0"/>
			<xsd:element ref="act:BeforeFacilityGrade" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AcctEnvr_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:CreatedDt" minOccurs="0"/>
			<xsd:element ref="ifx:CreateRefIdent" minOccurs="0"/>
			<xsd:element ref="ifx:ClientCreateDt" minOccurs="0"/>
			<xsd:element ref="ifx:ClientBusinessDt" minOccurs="0"/>
			<xsd:element ref="ifx:LastUpdateDt" minOccurs="0"/>
			<xsd:element ref="ifx:LastUpdateRqUID" minOccurs="0"/>
			<xsd:element ref="ifx:LoginName" minOccurs="0"/>
			<xsd:element ref="act:PartyKeys" minOccurs="0"/>
			<xsd:element ref="ifx:CardKeys" minOccurs="0"/>
			<xsd:element ref="ifx:PassbkKeys" minOccurs="0"/>
			<xsd:element ref="ifx:NetworkTrnData" minOccurs="0"/>
			<xsd:element ref="ifx:ServerTerminalSeqNum" minOccurs="0"/>
			<xsd:element ref="ifx:PointOfServiceData" minOccurs="0"/>
			<xsd:element ref="ifx:ClientTerminalSeqNum" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AcctStatus_Type">
		<xsd:complexContent>
			<xsd:extension base="ifx:AcctStatus_Type"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcctKeys_Type">
		<xsd:complexContent>
			<xsd:extension base="ifx:AcctKeys_Type"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AcctRec_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:SvcIdent" minOccurs="0"/>
			<xsd:element ref="ifx:AcctId" minOccurs="0"/>
			<xsd:element ref="act:AcctInfo" minOccurs="0"/>
			<xsd:element ref="act:AcctEnvr" minOccurs="0"/>
			<xsd:element ref="act:AcctStatus" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AcctAddRq_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:RqUID" minOccurs="0"/>
			<xsd:element ref="ifx:MsgRqHdr" minOccurs="0"/>
			<xsd:element ref="act:AcctInfo"/>
			<xsd:element ref="pty:SrcKeys" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AcctAddRs_Type">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element ref="ifx:Status" minOccurs="0"/>
				<xsd:element ref="ifx:RqUID" minOccurs="0"/>
				<xsd:element ref="ifx:MsgRsHdr" minOccurs="0"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:choice>
					<xsd:element ref="act:AcctRec"/>
					<xsd:element ref="ifx:AcctStatusRec"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:element ref="esb1:message" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="pty:SrcKeys" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AcctModRq_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:RqUID"/>
			<xsd:element ref="ifx:MsgRqHdr" minOccurs="0"/>
			<xsd:element ref="act:AcctKeys"/>
			<xsd:sequence maxOccurs="unbounded">
				<xsd:element ref="act:AcctInfo"/>
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ifx:DelElements"/>
					<xsd:element ref="ifx:UpdElements"/>
					<xsd:element ref="ifx:NewElements"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AcctModRs_Type">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element ref="ifx:Status" minOccurs="0"/>
				<xsd:element ref="ifx:RqUID"/>
				<xsd:element ref="ifx:MsgRsHdr" minOccurs="0"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:choice>
					<xsd:element ref="act:AcctRec"/>
					<xsd:element ref="ifx:AcctStatusRec"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:element ref="esb1:message" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AcctInfo" type="act:AcctInfo_Type"/>
	<xsd:element name="AcctEnvr" type="act:AcctEnvr_Type"/>
	<xsd:element name="AcctStatus" type="act:AcctStatus_Type"/>
	<xsd:element name="AcctRec" type="act:AcctRec_Type"/>
	<xsd:element name="AcctKeys" type="act:AcctKeys_Type"/>
	<xsd:element name="AcctAddRq" type="act:AcctAddRq_Type"/>
	<xsd:element name="AcctAddRs" type="act:AcctAddRs_Type"/>
	<xsd:element name="AcctModRq" type="act:AcctModRq_Type"/>
	<xsd:element name="AcctModRs" type="act:AcctModRs_Type"/>
	<xsd:element name="AcctName1" type="xsd:string"/>
	<xsd:element name="AcctName2" type="xsd:string"/>
	<xsd:element name="AcctName3" type="xsd:string"/>
	<xsd:element name="AcctName4" type="xsd:string"/>
	<xsd:element name="ProdType" type="xsd:string"/>
	<xsd:element name="ProdSubType" type="xsd:string"/>
	<xsd:element name="AcctClosedReason" type="xsd:string"/>
	<xsd:element name="BankAcquiredFrom" type="xsd:string"/>
	<xsd:element name="BankAcquisitionDt" type="xsd:date"/>
	<xsd:element name="CompanyCode" type="xsd:string"/>
	<xsd:element name="CostCenter" type="xsd:string"/>
	<xsd:element name="SourceAcctLOB" type="xsd:string"/>
	<xsd:element name="SubOwnerCode" type="xsd:string"/>
	<xsd:element name="InvtrCode" type="xsd:string"/>
	<xsd:element name="FRBCode" type="xsd:string"/>
	<xsd:element name="AcctSourceIdent" type="xsd:string"/>
	<xsd:element name="OrigSrcSystem" type="xsd:string"/>
	<xsd:complexType name="RetrieveApproverRq_Type">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element ref="act:AcctRec"/>
			<xsd:element ref="act:AcctStatusRec" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RetrieveApproverRs_Type">
		<xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="ifx:Status" minOccurs="0"/>
				<xsd:element ref="ifx:RqUID" minOccurs="0"/>
				<xsd:element ref="ifx:MsgRsHdr" minOccurs="0"/>
			</xsd:sequence>
			<xsd:element ref="act:AcctRec" minOccurs="0"/>
			<xsd:element ref="esb1:message" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RetrieveApproverRq" type="act:RetrieveApproverRq_Type"/>
	<xsd:element name="RetrieveApproverRs" type="act:RetrieveApproverRs_Type"/>
	<xsd:complexType name="PartyKeys_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:SvcIdent" minOccurs="0"/>
			<xsd:element ref="ifx:PartyId" minOccurs="0"/>
			<xsd:element ref="cmn:LoginIdent" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PartyKeys" type="act:PartyKeys_Type"/>
	<xsd:element name="AcctStatusRec" type="ifx:AcctStatusRec_Type"/>
	<xsd:complexType name="CreditAcctType_Type">
		<xsd:sequence>
			<xsd:element name="CreditType" type="act:CreditType_Type"/>
			<xsd:element name="Code" type="act:Code_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditType_Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="CreditAcctType" type="act:CreditAcctType_Type"/>
	<xsd:element name="CreditAcctData" type="act:CreditAcctData_Type"/>
	<xsd:element name="AcctRef" type="act:AcctRef_Type"/>
	<xsd:element name="AcctType" type="act:AcctType_Type"/>
	<xsd:complexType name="Code_Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="AcctTypeValue">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="DDA"/>
				<xsd:enumeration value="SDA"/>
				<xsd:enumeration value="CCA"/>
				<xsd:enumeration value="EQU"/>
				<xsd:enumeration value="ILA"/>
				<xsd:enumeration value="CLA"/>
				<xsd:enumeration value="CDA"/>
				<xsd:enumeration value="LOC"/>
				<xsd:enumeration value="MLA"/>
				<xsd:enumeration value="MMA"/>
				<xsd:enumeration value="CMA"/>
				<xsd:enumeration value="INV"/>
				<xsd:enumeration value="IRA"/>
				<xsd:enumeration value="PBA"/>
				<xsd:enumeration value="GLA"/>
				<xsd:enumeration value="IRL"/>
				<xsd:enumeration value="PPA"/>
				<xsd:enumeration value="RWD"/>
				<xsd:enumeration value="IRE"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IsDeleted" type="ifx:Boolean_Type"/>
	<xsd:element name="UltimateParent">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IsPrimary" type="ifx:Boolean_Type"/>
	<xsd:element name="AvailableStatusId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CustomerCollateralInfoId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:PartyAcctRelId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AccountsReceivable">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NeteligibleAccountReceivable">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Inventory">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NeteligibleInventory">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SecuredCash">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CVLI">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UnrelatedSecurities">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ABLFBLManaged">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AccountsReceivableDate" type="ifx:DateTime_Type"/>
	<xsd:element name="NeteligibleAccountReceivableDate" type="ifx:DateTime_Type"/>
	<xsd:element name="InventoryDate" type="ifx:DateTime_Type"/>
	<xsd:element name="NeteligibleInventoryDate" type="ifx:DateTime_Type"/>
	<xsd:element name="SecuredCashDate" type="ifx:DateTime_Type"/>
	<xsd:element name="CVLIDate" type="ifx:DateTime_Type"/>
	<xsd:element name="UnrelatedSecuritiesDate" type="ifx:DateTime_Type"/>
	<xsd:element name="CollateralSource">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EquipCollateralInfoId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GeneralSpecificEquip">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SpecificEquipTypeId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EquipOriCost">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EquipAge">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GrossValue">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FromEquipCollateralInfoId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LGDSpecificEquipTypeTitle">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LGDSpecificEquipTypeVersion">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Version"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EquipDate" type="ifx:DateTime_Type"/>
	<xsd:element name="PropertyCollateralInfoId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LGDPropertyTypeId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PropertyTypeTitle">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PropertyAddress">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Addr1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PropertyValue">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FirstPosition">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FirstMortgageholderId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FirstMortgageholderTitle">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:OriginatingBank"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FirstMortgageBalance">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SecondPosition">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SecondMortgageholderId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SecondMortgageholderTitle">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:OriginatingBank"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SecondMortgageBalance">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ThirdPosition">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ThirdMortgageholderId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ThirdMortgageholderTitle">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:OriginatingBank"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ThirdMortgageBalance">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AppraisalDate" type="ifx:DateTime_Type"/>
	<xsd:element name="OtherCollateralInfoId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OtherCollateralDesc">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RecoveryRate">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DiscountCollateralValue">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OtherDescription">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OtherCollateralDate" type="ifx:DateTime_Type"/>
	<xsd:element name="Collaterals">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FacilityInfoId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FacilityType">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AccountNumber">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModifiedOutstdAmt">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModifiedCommitmentAmt">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OutstdAmt">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CmtAmt">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FacilityTypeId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FacilityGrade">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AvailabilityStatusId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AvailabilityStatus">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AccountNumberMask">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctMask"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LoanSystem">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Mortgageholder">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Name"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MortgageBal">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FromFacilityInfoId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BankId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:OriginatingBank"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IsInterimTypeSelected" type="ifx:Boolean_Type"/>
	<xsd:element name="CollateralType">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LGDLEQId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LGDLEQTitle">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LEQPercent">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Percent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LEQVersionId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Version"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GroupName">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Name"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GrntyId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GovGrntyTypeId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GovGrntyPerct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Percent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NonGovGrntyAmt">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NonGovGrntyPerct">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Percent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NonGovLimited" type="ifx:Boolean_Type"/>
	<xsd:element name="NonGovGrntyTypeId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UnsecuredLargeCorporateId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:AcctId"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CompanyIndustryId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IndustryGroup">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Multiple">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EntityToUse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="VersionId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Version"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PubliclyTraded" type="ifx:Boolean_Type"/>
	<xsd:element name="TotalMarketCapitalization">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TotalLiabilities">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LookupTableToUse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FinalFacilityGrade">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RecognisedValue">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EnterpriseValue">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EBITDA">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AverageLGDGrade">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="JustificationInfoEnterpriseValue">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SelectedDate" type="ifx:DateTime_Type"/>
	<xsd:element name="LGDNotForProfitTypeId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LGDNFPTypeTitle">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:RefDesc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ViabilityRatio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Percent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LiquidityRatio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Percent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IsThereGuarantor" type="ifx:Boolean_Type"/>
	<xsd:element name="GuarantorTypeId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LGDNFPGrntyTypeTitle">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:RefDesc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FacilitySituation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IsHighNetBorrower" type="ifx:Boolean_Type"/>
	<xsd:element name="GradeBasedOnViabilityRatio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Percent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GradeBasedOnLiquidityRatio">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Percent"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LGDBasedOnLiquidityGrade">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LGDBasedOnViabilityGrade">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AverageLGD">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Amt"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BeforeFacilityGrade">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ifx:Desc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	
	<!-- P2P Project: HOGAN CUSTOMER POSTION VERSION 1_1 Updates Start -->
	
	<xsd:element name="AcctBal" type="act:AcctBal_Type"/>
	
	<xsd:complexType name="AcctBal_Type">
		<xsd:sequence>
		
			<xsd:element ref="act:BalType" minOccurs="0"/>
			<xsd:element ref="ifx:CurAmt" minOccurs="0"/>
			<xsd:element ref="ifx:ExpDt" minOccurs="0"/>
			<xsd:element ref="ifx:Desc" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="BalType" type="act:BalType_Type"/>
	
	<xsd:complexType name="BalType_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:BalTypeSource" minOccurs="0"/>
			<xsd:element ref="act:BalTypeValues" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="BalTypeValues" type="act:BalTypeValues_Type"/>	
	
	<xsd:simpleType name="BalTypeValues_Type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Ledger" /> 
			<xsd:enumeration value="OpeningLedger" /> 
			<xsd:enumeration value="ClosingLedger" /> 
			<xsd:enumeration value="MinLedger" /> 
			<xsd:enumeration value="AvgLedger" /> 
			<xsd:enumeration value="Avail" /> 
			<xsd:enumeration value="Current" /> 
			<xsd:enumeration value="Outstanding" /> 
			<xsd:enumeration value="OpeningOutstanding" /> 
			<xsd:enumeration value="ClosingOutstanding" /> 
			<xsd:enumeration value="Principal" /> 
			<xsd:enumeration value="Escrow" /> 
			<xsd:enumeration value="AvailCredit" /> 
			<xsd:enumeration value="CreditLimit" /> 
			<xsd:enumeration value="PayoffAmt" /> 
			<xsd:enumeration value="CreditHeld" /> 
			<xsd:enumeration value="DebitHeld" /> 
			<xsd:enumeration value="TotalHeld" /> 
			<xsd:enumeration value="RwdReg" /> 
			<xsd:enumeration value="RwdBonus" /> 
			
			<xsd:enumeration value="totalCreditMemo" /> 
			<xsd:enumeration value="totalDebitMemo" /> 
			
		</xsd:restriction>
</xsd:simpleType>
	
	<!-- P2P Project: HOGAN CUSTOMER POSTION VERSION 1_1 Updates End -->
	
	
</xsd:schema>